{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='tagify.css') }}" rel="stylesheet" media="screen">

<style>
	.removing-file:before {
		content: "Deleting ";
	};
</style>
{% endblock %}

{% block contents %}
<div class="align-items-center container">
	<h2>{% if existing_package %}Update {{ existing_package.title }}{% else %}Upload new package{% endif %}</h2>
	<div class="container input-group input-group-lg">
		{% if error or form.errors %}
		<div>
			<ul class="list-group errors">
				{% if error %}
				<li class="list-group-item bg-warning">{{ error }}</li>
				{% endif %}
				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
						<li class="list-group-item bg-warning">{{ form[field_name].label }}: {{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<form class="form-signin w-100" method="POST" id="input_form" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			{% if existing_package %}
			<p>
				<a class="btn btn-danger" data-toggle="collapse" href="#delete_package_section" role="button" aria-expanded="false" aria-controls="delete_package_section">
				Delete {{ existing_package.title }}
				</a>
				<div id="delete_package_section" class="collapse">

					<div class="card paperbox">
						<h3>{{ form.delete_entry.label(class="") }}</h3><hr>
						<div class="card-body">
							<div class="alert alert-danger" role="alert">
								To delete this entry, type the title of this package here and submit the form.
							</div>
							{{ form.delete_entry(class="form-control input-lg") }}
						</div>
					</div>
				</div>
			</p>
			{% endif %}
			<div class="card paperbox">
				<h3>General information</h3><hr>
				<div class="card-body">
					<h1 class="h3 mb-3 font-weight-normal"></h1>
					<div>{{ form.title.label(class="") }}: {{ form.title(class="form-control input-lg") }}</div>
					<div>{{ form.author.label(class="") }}: {{ form.author(class="form-control input-lg") }}</div>
					<div>{{ form.description.label(class="") }}: <span class="limited-input-field-label text-secondary"></span> {{ form.description(class="form-control input-lg limited-input-field") }}</div>
					<div>{{ form.tags.label(class="") }}: {{ form.tags(class="form-control input-lg tag-input tagify") }}</div>
					<div>{{ form.long_description.label(class="") }}: {{ form.long_description(class="form-control input-lg") }}</div>
				</div>
			</div>
			{% if existing_package %}
			<br>
			<div class="card paperbox"><h3>{{ form.remove_existing_files.label(class="") }}</h3><hr>
				<div class="container btn-group flex-row flex-wrap card-body">
				{% for subfield in form.remove_existing_files %}
					<div class="col-md-3">{{ subfield.label(class="form-control btn btn-light delete-file") }}{{ subfield(class="invisible delete-file-checkbox") }}</div>
				{% endfor %}
				</div>
			</div>
			{% endif %}
			<br>
			<div class="card paperbox">
				<h3>{{ form.files.label(class="") }}</h3><hr>
				<div class="card-body">
					<div class="alert text-secondary" role="alert">
						Please use only ASCII filenames without spaces for maximum compatibility. Allowed file extensions: {{ ", ".join(config["ALLOWED_FILE_EXTENSIONS"]) }}.<br>
						Every package needs at least one file.
					</div>
					{{ form.files(class="form-control input-lg") }}
				</div>
			</div>
			<br>
			<div class="card paperbox">
				<h3>{{ form.dependencies.label(class="") }}</h3><hr>
				<div class="card-body">
					<div class="alert text-secondary" role="alert">
						These dependencies will automatically be installed when your package is installed from the game. If you do not need additional packages to be installed, leave this empty.
					</div>
				<div>{{ form.dependencies(class="form-control input-lg dependency-input tagify") }}</div>
				</div>
			</div>
			<br>
			<div class="alert text-secondary text-center" role="alert">
				Changes may take up to one minute to show up in the package list.
			</div>
			<div class="d-flex justify-content-center">
				<button class="btn btn-lg btn-primary btn-block w-50" type="submit">
				{% if existing_package %}Update{% else %}Upload{% endif %}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- tagify is provided by Yair Even-Or under the MIT license: https://github.com/yairEO/tagify -->
<script src="{{ url_for('static', filename='tagify.min.js') }}"></script>

<script>
$(document).ready(function(){
	var tagify = new Tagify($("#input_form input.tag-input:first")[0], {whitelist:[]});
	var abort_controller = null;

	function onTagsEdited(e) {
		var tag_string = e.detail.value;
		tagify.settings.whitelist.length = 0;

		if (abort_controller)
			abort_controller.abort();
		abort_controller = new AbortController();
		
		tagify.loading(true).dropdown.hide.call(tagify)
		fetch('{{ url_for("fetch_tag_suggestion") }}?tag=' + encodeURIComponent(tag_string), { signal:abort_controller.signal })
			.then(RES => RES.json())
			.then(function(whitelist){
			// update inwhitelist Array in-place
			tagify.settings.whitelist.splice(0, whitelist.length, ...whitelist)
			tagify.loading(false).dropdown.show.call(tagify, tag_string);
		})
	}

	tagify.on('input', onTagsEdited)

	var dependencies_tagify = new Tagify($("#input_form input.dependency-input:first")[0], {whitelist:{{ dependencies_whitelist|safe }}, enforceWhitelist: true, editTags: false});

	$("input.delete-file-checkbox").each(function () { $(this).prop('checked', false); });
	$(".delete-file").click(function () {
		$(this).toggleClass("btn-light");
		$(this).toggleClass("btn-danger");
		$(this).toggleClass("removing-file");
	});

	$(".limited-input-field").on("input", function(event) {
		const target = event.currentTarget;
		const current_length = target.value.length;
		$(".limited-input-field-label").text("(now at " + current_length + " characters)");
	});
});
</script>
{% endblock %}